body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  background-image: url("background_fin.jpg");
  height: 100%;

}
h1 {
  font-weight: lighter;
  color: #e0ebeb;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-shadow: 1px 1px 1px grey;
}

h2 {
  font-weight: lighter;
  color: #e0ebeb;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-shadow: 1px 1px 1px grey;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  font-family: 'Roboto Mono', monospace;
  opacity: 0.7;
  border-style: hidden;
  padding-left: 5px;
  border-radius: 10px;
}

.addOption {
  margin-top: 10px;

}

button {
  border-radius: 10px;
  font-family: 'Roboto Mono', monospace;
  color: inherit;
  opacity: 0.7;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s
}

button:hover {
  background-color: #purple;
  color: white;
}

button:active {
  color: grey;
}

button:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.resultSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  font-size: 35px;
  color: #e0ebeb;
  text-shadow: 1px 1px 1px grey;
}
